@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fafaf9; /* stone-50 */
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #292524; /* stone-800 */
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #57534e; /* stone 600 */
}